NodeRed/src/MrMeOriginall (1).json
[{"id":"a1c1173b.e44878","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"62151f3a.04df3","type":"http request","z":"a1c1173b.e44878","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/86e1fb09-27d7-4407-ac21-40d9dd8c95e1/predictions?version=2021-07-26","tls":"","persist":false,"proxy":"","authType":"bearer","x":290,"y":100,"wires":[["aa55b9b3.3d24a8"]]},{"id":"aa55b9b3.3d24a8","type":"debug","z":"a1c1173b.e44878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":100,"wires":[]},{"id":"d79d4fcf.55fe9","type":"inject","z":"a1c1173b.e44878","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"input_data\":[{\"fields\":[\"1880\"],\"values\":[[1978],[2020]]}]}","payloadType":"json","x":130,"y":100,"wires":[["62151f3a.04df3"]]},{"id":"e96dc42d.96d9a8","type":"ui_slider","z":"a1c1173b.e44878","name":"","label":"Carbon Emission","tooltip":"","group":"e48bb0d1.8ddb","order":1,"width":"0","height":"0","passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"1000","max":"10000","step":"1","x":110,"y":520,"wires":[["b8f3776c.74f6e8","3ea376bb.9cc29a","3ad54628.2e464a"]]},{"id":"b8f3776c.74f6e8","type":"function","z":"a1c1173b.e44878","name":"ToJson","func":"let formMsg = {\n    \"input_data\": [\n        {\n            \"fields\": [\n                \"1880\"\n            ],\n            \"values\": [\n                [\n                    msg.payload\n                ]\n            ]\n        }\n    ]\n}\nconsole.log(formMsg)\n\nlet jsonData = JSON.stringify(formMsg)\nmsg.payload = jsonData\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":520,"wires":[["fd5780b2.4658","503142f.a0718bc"]]},{"id":"a9768bf2.26aa18","type":"debug","z":"a1c1173b.e44878","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":520,"wires":[]},{"id":"fd5780b2.4658","type":"http request","z":"a1c1173b.e44878","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/86e1fb09-27d7-4407-ac21-40d9dd8c95e1/predictions?version=2021-07-26","tls":"","persist":false,"proxy":"","authType":"bearer","x":867,"y":627,"wires":[["c04d0d26.57a48","58d8e3ce.b5671c"]]},{"id":"83134e78.842e6","type":"ui_gauge","z":"a1c1173b.e44878","name":"","group":"e48bb0d1.8ddb","order":5,"width":"0","height":"0","gtype":"donut","title":"Carbon Emission","label":"units","format":"{{value}}","min":"1000","max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3000","seg2":"5500","x":570,"y":560,"wires":[],"inputLabels":["2000"]},{"id":"c04d0d26.57a48","type":"function","z":"a1c1173b.e44878","name":"CarbonEmissionPridict","func":"carbonEmission = msg.payload\nmsg.payload = carbonEmission.predictions[0].values[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":520,"wires":[["a9768bf2.26aa18"]]},{"id":"503142f.a0718bc","type":"debug","z":"a1c1173b.e44878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":420,"wires":[]},{"id":"58d8e3ce.b5671c","type":"debug","z":"a1c1173b.e44878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":740,"wires":[]},{"id":"49a37acb.2e4574","type":"ui_dropdown","z":"a1c1173b.e44878","name":"","label":"","tooltip":"","place":"Select option","group":"e48bb0d1.8ddb","order":6,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Individual Person/Family","value":"1","type":"str"},{"label":"Factory/Institution","value":"2","type":"str"},{"label":"Location or Nation","value":"3","type":"str"},{"label":"Global Organization/NGO","value":"4","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":550,"y":260,"wires":[[]]},{"id":"b78bd2d3.feb67","type":"ui_gauge","z":"a1c1173b.e44878","name":"","group":"e48bb0d1.8ddb","order":7,"width":0,"height":0,"gtype":"gage","title":"TreeCount","label":"","format":"{{value}}","min":"10000","max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20000","seg2":"50000","x":550,"y":460,"wires":[]},{"id":"3ea376bb.9cc29a","type":"function","z":"a1c1173b.e44878","name":"TreeCount","func":"msg.payload = msg.payload * 9 \nreturn msg;t","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":460,"wires":[["b78bd2d3.feb67"]]},{"id":"3ad54628.2e464a","type":"function","z":"a1c1173b.e44878","name":"CarbonEmission","func":"msg.payload = msg.payload \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":560,"wires":[["83134e78.842e6"]]},{"id":"e48bb0d1.8ddb","type":"ui_group","name":"Default","tab":"6ee5c89.f5d0d38","order":1,"disp":false,"width":"6","collapse":false},{"id":"6ee5c89.f5d0d38","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]